<script setup lang="ts"></script>

<template>
  <!-- <div>Share With Me</div> -->
  <v-img
    cover
    gradient="to bottom left, rgba(100,75,61,.73), rgba(35,32,12,.47)"
    max-width="100%"
    height="auto"
    src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/320330207_1129960201014109_4963114671873530448_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHakaQ1MqyARc63njUsOF5hYTTRA61I7lthNNEDrUjuW94N2dLpgO0tW62Iix2kTee52-8FL4G4qwGuGft6aoPk&_nc_ohc=b0SK2UB4vRYAX_E3EaG&_nc_ht=scontent.fbkk10-1.fna&oh=00_AfAUDrLbHiszRzCvEFc3GgV5gnaLQqUi7cTDNbTI5T56hg&oe=63A0C815"
  >
    <v-container>
      <v-row fluid style="height: 90vh">
        <v-col cols="5">
          <v-avatar color="grey" size="95%" rounded="0">
            <!-- local; not found -->
            <!-- <img cover src="../assets/mukkuu.jpg" /> -->

            <!-- facebook; can access -->
            <v-img
              cover
              src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t39.30808-6/320048174_687410259648504_4772824109496494912_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHdKN-tUOA1-T2nopo6aLiby2alXtj7rdTLZqVe2Put1AzUF_veO6TrsJ_abDEvvgPF8r3SxtxYRJRxGzQHrubT&_nc_ohc=_LAhCsvkykcAX-pMRiu&_nc_ht=scontent.fbkk10-1.fna&oh=00_AfCyp9kXB-lpv8H6Ag7zRtDWbh8nADZJdXtFD-ozT7rwtA&oe=63A06CA8"
            ></v-img>

            <!-- drive,gitlab; block -->
            <!-- <v-img
              cover
              src="https://drive.google.com/file/d/1-wyASKYLiMb8iJdvw-8BYVZb23uYX1mC/view?usp=share_link"
            ></v-img> -->
            <!-- <v-img
              cover
              src="https://gitlab.com/066_webapp/component/-/blob/master/src/assets/mukkuu.jpg"
            ></v-img> -->
          </v-avatar>
          <v-list-item
            class="text-white pa-2"
            title="Mukku | ムック"
            subtitle="🎓PCC 017 🖥️IF11 CS28 🐋BUU66"
          ></v-list-item>
        </v-col>
        <v-col>
          <div
            class="pa-3 text-h1 text-white font-weight-bold font-family-rubikr-spray-paint"
          >
            | My Profile
          </div>
          <!-- <div
            class="pa-2 text-h3 text-white font-weight-bold font-family-rubikr-spray-paint"
          >
            ムック
          </div> -->
          <v-table>
            <thead>
              <tr>
                <th>Contents</th>
                <th colspan="3">Personal Information</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td width="22%">Name - Surname</td>
                <td colspan="3">Jutamas Lueariyasap</td>
              </tr>
              <tr>
                <td rowspan="6">Education</td>
              </tr>
              <tr>
                <td width="20%">2020 - Now</td>
                <td>Bachelor of Science (Computer Science)</td>
                <td>Burapha University</td>
              </tr>
              <tr>
                <td>2017 - 2019</td>
                <td>Senior High School</td>
                <td>Princess Chulabhorn Science High School Chonburi</td>
              </tr>
              <tr>
                <td>2014 - 2016</td>
                <td>Junior High School</td>
                <td>Princess Chulabhorn College Chonburi</td>
              </tr>
              <tr>
                <td>2008 - 2013</td>
                <td>Primary School</td>
                <td>Boonprateepwittayakarn School</td>
              </tr>
              <tr>
                <td>2005 - 2007</td>
                <td>Kindergarten</td>
                <td>Boonprateepwittayakarn School</td>
              </tr>
              <tr>
                <td rowspan="5">Interest</td>
              </tr>
              <tr>
                <td colspan="3">Read books</td>
              </tr>
              <tr>
                <td colspan="3">Mathematics</td>
              </tr>
              <tr>
                <td colspan="3">Coding</td>
              </tr>
              <tr>
                <td colspan="3">Mobile</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-img>

  <!-- <div>รูปภาพ</div>
  <div>ชื่อ-นามสกุล</div>
  <div>ประวัติการศึกษา</div>
  <div>สิ่งที่เราสนใจ</div>
  <div>v-container v-row v-col v-img v-table v-avatar ...</div>
  <div>ทำให้สวย แคปหน้านี้ส่งเป็นภาพ</div> -->
</template>
