<script setup lang="ts">
import FrameworkPop from "@/components/FrameworkPop.vue";
import { computed, ref } from "vue";
const frameLists = ref([
  {
    name: "VueJS",
    img: "https://img.icons8.com/color/512/vue-js.png",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://material.angularjs.org/latest/img/logo.svg",
    rating: 20,
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/React-icon.svg/768px-React-icon.svg.png?20220125121207",
    rating: 14,
  },
]);

function changeRating(index: number, rating: number) {
  console.log("action " + index + ": " + rating);
  frameLists.value[index].rating = rating;
}

// const newList = [...frameLists.value];

const orderList = computed(() => {
  return [...frameLists.value].sort((n1, n2) => n2.rating - n1.rating); //reverse);
});
</script>

<template>
  <!-- <div>Starred</div> -->
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameLists" :key="index">
        <FrameworkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRating"
        ></FrameworkPop>
        <!-- <FrameworkPop
          name="Vue JS"
          img="https://img.icons8.com/color/512/vue-js.png"
          :rating="10"
        ></FrameworkPop> -->
      </v-col>
      <!-- <v-col>
        <FrameworkPop></FrameworkPop>
      </v-col>
      <v-col>
        <FrameworkPop></FrameworkPop>
      </v-col> -->
    </v-row>
    <!-- <v-row class="justify-center"> -->
    <v-row justify="center">
      <!-- flex box : center -->
      <v-col cols="6">
        <!-- 100% cols=12columns -->
        <v-table>
          <thead>
            <tr>
              <th>order</th>
              <th>name</th>
              <th>rating</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
