<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://randomuser.me/api/portraits/women/85.jpg"
          title="Sandra Adams"
          subtitle="sandra_a88@gmailcom"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-files"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountCircle"
          title="My Profile"
          value="myprofile"
          to="/my-profile"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <!-- bind before use now because value of prepend-icon is from variable -->
    <v-main>
      <router-view></router-view>
      <!-- <v-container>
        <v-icon :icon="mdiVuetify"></v-icon>
        <v-icon :icon="mdiCursorPointer"></v-icon>
        <v-btn class="ma-2" color="primary">
          Accept
          <v-icon end :icon="mdiCheckboxMarkedCircle"></v-icon>
        </v-btn>
        Content area</v-container
      > -->
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiWeatherSunny,
  mdiWeatherNight,
  // mdiCursorPointer,
  // mdiVuetify,
  // mdiCheckboxMarkedCircle,
  mdiFolder,
  // mdiAccountMultiple,
  mdiAccountCircle,
  mdiStar,
} from "@mdi/js";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
